.blue-light {
    background-color: rgba(102, 171, 255, 0.3);
    color: rgba(0, 0, 0, 0.623);  

}

.cursor-pointer{
    cursor: pointer;
  }

.icono-form:hover{
color: red ;
  }

  .borde{
      border-bottom-color: sandybrown;
  }

  
  fieldset.scheduler-border {
    border: 1px groove rgba(70, 68, 68, 0.199) !important;
    border-radius: 10px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
  }
  
  legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
  }
  
  .modal-general {
    max-width: 63rem !important;
  }
  
  .parent-grid-row-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    }

    .modal-backdrop {
      z-index: -1;
    }
  
    .parent-grid-row-2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      }

      .parent-grid-row-3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        }

      .two-columns {
    
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
  }
  .tooltip .tiptext {
      visibility: visible;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 6px 0;
      position: absolute;
      z-index: 1;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .tooltip .tiptext::after {
      content: "";
      position: absolute;
      border-width: 5px;
      border-style: solid;
  }
  .tooltip:hover .tiptext {
      visibility: visible;
  }
  
  .tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E ;
}